.content {
  padding: 2rem;
  width: calc(90% - var(--sidebar-width));
  margin-left: var(--sidebar-width);
}



.picture-container {
  background-color: #222225;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 1rem;
}

.picture-container h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

#nasa-img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  border-radius: 8px;
}

.picture-container p {
  margin-top: 1rem;
}

/* Sidebar width variable */
:root {
  --sidebar-width: 12vmin;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .content {
    font-size: smaller;
  }

  .picture-container {
    margin-top: 0.5rem;
  }

  .picture-container h2 {
    font-size: 1.2rem;
  }

  #nasa-img {
    max-height: 300px;
  }
}

@media (max-width: 480px) {
  .content {
    font-size: x-small;
  }

  .picture-container {
    margin-top: 0.5rem;
  }

  .picture-container h2 {
    font-size: 1.2rem;
  }

  #nasa-img {
    max-height: 200px;
  }
}